<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style> body{ background-image: url("http://2.bp.blogspot.com/-jkB-AYfx_0o/U96hvZ3A-uI/AAAAAAAAQRk/WDnIIv12Q0Y/s1600/BananaDesktop.jpg");
    background-repeat: repeat-y;

    }</style>
}
</head>
<body>
	<center>
    <h1>Hello my name is {{ name }}</h1>
    <h2>NPM : 1706019425 </h2>
    <br> <article>I am {{ age }} years old</article> </br>
    <article> Im a student in Fasilkom UI </article>
    <article> my hobby is doing sports and sleeping most of the time </article>
    <img src="https://i.imgur.com/BleAAq2.jpg">
    <br> <a href="www." class="button"> <h2>Check out my medium !</h2> </a> </br>
    <br> <h2> This is some of my friends </h2></center>
    <br>
    <br>
    <div class="container">
  <div class="row">
    <div class="col-md-auto">
      <img src="https://i.imgur.com/HVU7us7.jpg" height="300" width="250">
    </div>
    <div class="col" style="background-color: white; height: 30%">
      <h2> Davin Iddo Irawan </h2>
      <h5>NPM: 1706020944</h5>
      <article>Davin as we call him Iddo are now taking computer science degrees in University of indonesia, he loves to watch Anime so much</article>
    </div>
</div>
<br>
<br>
    <div class="container">
  <div class="row">
    <div class="col-md-auto">
      <img src="https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-9/41013464_10218341523996594_9120830487231725568_n.jpg?_nc_cat=0&oh=4bf6fe8376591905ea4383f937fc648a&oe=5C2AE5E3" height="300" width="300">
    </div>
    <div class="col" style="background-color: white; height: 30%">

      <h2> Aufa Wiandra Moenzil </h2>
      <h5>NPM: 1706067512</h5>
      <article>Aufa is now taking a computer science degree in University of Indonesia. His hobby is playing video games (eg. Dota, CSGO).</article>
    </div>
</div>
</body>
</html>